<!DOCTYPE html>
<html>
  <head>
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
      }
      .container {
        position: relative;
        width: 100vw;
        height: 100vh;
      }
      .container iframe {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <iframe
        title="test"
        width="1024"
        height="1060"
        src="https://app.powerbi.com/view?r=eyJrIjoiYTI4MDNiMTYtMTAyOS00ZTAxLTgwNGMtYTVlM2M5YWI0YThkIiwidCI6ImRlNjc5ZDIxLTRjMzgtNDQxMC04ZDI1LTcyMjE2ZDFhOGYwMiJ9&pageName=ReportSectiond8e709da882b72257191"
        frameborder="0"
        allowfullscreen="true"
      ></iframe>
    </div>
  </body>
</html>
